h1 {
  text-align: center;
}

.section {
  margin: 20px 0;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 8px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}
.section {
  margin: 20px 0;
}

input,
select {
  padding: 8px;
  margin-left: 10px;
}

h1 {
  text-align: center;
}