<h1>Multi-Page Dashboard</h1>

<div class="tabs">

  <button (click)="showTab('overview')">
    Overview
  </button>

  <button (click)="showTab('sales')">
    Sales
  </button>

  <button (click)="showTab('users')">
    Users
  </button>

</div>

<hr>

<!-- Overview Page -->
<div *ngIf="currentTab === 'overview'">

  <h2>Overview Dashboard</h2>

  <div class="card">
    <h3>Total Users</h3>
    <p>1250</p>
  </div>

  <div class="card">
    <h3>Total Orders</h3>
    <p>320</p>
  </div>

</div>

<!-- Sales Page -->
<div *ngIf="currentTab === 'sales'">

  <h2>Sales Analysis</h2>

  <table>
    <tr>
      <th>Month</th>
      <th>Sales</th>
    </tr>

    <tr>
      <td>January</td>
      <td>₹20,000</td>
    </tr>

    <tr>
      <td>February</td>
      <td>₹25,000</td>
    </tr>

    <tr>
      <td>March</td>
      <td>₹30,000</td>
    </tr>
  </table>

</div>

<!-- Users Page -->
<div *ngIf="currentTab === 'users'">

  <h2>User Details</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
    </tr>

    <tr>
      <td>1</td>
      <td>Gayatri</td>
      <td>Nagpur</td>
    </tr>

    <tr>
      <td>2</td>
      <td>Rahul</td>
      <td>Pune</td>
    </tr>

    <tr>
      <td>3</td>
      <td>Priya</td>
      <td>Mumbai</td>
    </tr>

  </table>

</div>